@font-face {
    font-family: Oswald-Regular;
    src: url(./Font/Oswald-Regular.ttf);
}




h1{
    color: red;
    font-family: serif;
    font-weight: 500;
    font-style: oblique;
    font-stretch: expanded;
    font-size: 40px;
}
p{
    font-family: Oswald-Regular;
}